<div class= "container mt-5">
 <div class="row justify-content-center">
 <%= render 'user/shared/flash_messages' %>

  <div class="col-md-8">
   <h3 class=" text-center mt-3">New Music</h3>
   <%= form_with model: @music do |f| %>
    <%= render 'user/musics/music_new',f: f,music_genres: @music_genres %>
     <p><%= f.submit 'Post', class: "btn btn-primary" %></p>
   <% end %>
  </div>

 </div>
</div>