<div class= "container mt-5">
 <div class="row justify-content-center">
  
  <div class="col-md-8 text-center">
  <%= render 'user/shared/flash_messages' %>
      <% if @musics.empty? %>
      <p>検索した楽曲はありません。</p>
      <% else %>
     <%= render 'user/musics/music_index', musics: @musics %> 
    <% end %>
   <%= paginate @musics %>
  </div>
 </div>
</div>