<div class="d-flex flex-column align-items-center">
  <h3 class="header-top">こちらは音楽のコミュニティサイトとなります</h1>
  <h5 class="header-about text-center">
     音楽好きの方が気軽にコメントで語り合えたり<br>
     好きな音楽について投稿をすることができる<br>
     コミュニティサイトとなります。</h5>
   <h4 class ="header-music">New_Music</h4>
    <div class="row" style="margin-top: 40px;">
     <% @new_musics.each do|music| %>
     <div class="col-sm-4 col-md-4 mb-4">
      <div class="card">
         <%= link_to image_tag(music.get_music_image(100,100),class: "card-img-top"),user_guest_sign_in_path, method: :post %>
       <div class="card-body">
        <h5 class="card-title">楽曲名：<%=music.music_name %></h5>
        <p class="card-title">歌手：<%=music.singer %></p>
       </div>
      </div>
     </div>
    <% end %>
  </div>
 </div>