<div class="d-flex flex-column align-items-center">

  <h3 class="header-top">こちらは音楽のコミュニティサイトとなります</h3>

  <h5 class="header-about text-center mt-5">
     音楽好きの方が気軽にコメントで語り合えたり<br>
     好きな音楽について投稿をすることができる<br>
     コミュニティサイトとなっております。</h5>

  <h4 class ="header-music">New_Music</h4>

 <div class="row justify-content-center" style="margin-top: 40px;">
   <% @new_musics.each do|music| %>
  <div class="col-6 col-sm-4 col-md-3  mb-4 ">
   <div class="card">
    <%= link_to image_tag(music.get_music_image(100,100),class: "card-img-top"),user_guest_sign_in_path, method: :post %>
    <div class="card-body">
     <h5 class="card-title"> music_name:<br><%=music.music_name %></h5>
     <p class="card-title">Singer：<%=music.singer %></p>
    </div>
   </div>
  </div>
  <% end %>
 </div>

</div>